<h1>What's your number?</h1>

<p>
	Enter your digits:
</p>

<slider ng-model="digits"
		min-value="{{min}}"
		max-value="{{max}}"
		scale="logScale(proportion)"
		slide-start="isSliding = true"
		slide-stop="isSliding = false">
</slider>

<div style="text-align: center; display: none;"
   ng-show="isSliding">
	<h3>I'm sliding!</h3>
	<p>
		<img src="slide.gif" />
	</p>
</div>

<p>
	Your digits are
	<input type="text" ng-model="digits" />
</p>
<hr/>
<p>
	Min value: <input type="text" ng-model="min" /> <br/>
	<slider ng-model="min"
	        min-value="-100"
	        max-value="{{max}}">
	</slider>
</p>
<hr/>
<p>
	Max value: <input type="text" ng-model="max" />
	<slider ng-model="max"
	        min-value="{{min}}"
	        max-value="100">
	</slider>
</p>
