<h1>What's your number?</h1>

<p>
	Enter your digits:
</p>

<slider ng-model="digits"
		min-value="{{min}}"
		max-value="{{max}}"
		slide-start="isSliding = true"
		slide-stop="isSliding = false">
</slider>

<p style="text-align: center">
	<img src="slide.gif" ng-show="isSliding" style="display: none;" />
</p>

<p>
	Your digits are
	<input type="text" ng-model="digits" />
</p>
<hr/>
<p>
	Min value: <input type="text" ng-model="min" /> <br/>
	<slider ng-model="min"
	        min-value="-100"
	        max-value="{{max}}">
	</slider>
</p>
<hr/>
<p>
	Max value: <input type="text" ng-model="max" />
	<slider ng-model="max"
	        min-value="{{min}}"
	        max-value="100">
	</slider>
</p>
